.header {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav--open {
  background-color: black;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  padding: 2rem;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9;
}

.geo {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 3px;
}

.nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

@media (max-width: 1024px) {

  .nav {
    display: none;
  }

  .nav--open {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
}