@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Аналогично для других весов и стилей */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}



.container {
  /* width: 100%; */
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
    /* Уменьшенные отступы для маленьких экранов */
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 5px;
    /* Ещё меньше отступы для телефонов */
  }
}

a,
p {
  color: inherit;
  /* Наследует цвет текста от родителя */
  text-decoration: none;
  /* Убирает подчеркивание */
}

a:visited {
  /* color: inherit; */
  /* Для посещённых ссылок */
}

button {
  font-family: 'Montserrat', sans-serif;
  background: none;
  border: none;
  color: inherit;
}

section {
  margin-top: 155px;
}

@media (max-width:900px) {
  section {
    margin-top: 80px;
  }

}

.link-center {
  display: block;
  margin: 50px auto 0 auto;
}

.orange-btn {
  width: 100%;
  color: #fff;
  max-width: 280px;
  background: #F4683F;
  padding: 10px;
  border-radius: 20px;
  display: block;
  text-align: center;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

/* Сетка для планшетов */
@media (max-width: 1023px) and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

/* Сетка для мобильных устройств */
@media (max-width: 767px) {
  .grid-container {
    display: block;
  }

}